<%- include('../partials/upper.ejs',{doc_name:"Stocker"}) %>
<%- include('../partials/title.ejs',{subtitle:"Result"}) %>
<div class='result'>
  <h2>
    <%if(typeof(status) !== "undefined"){%>
      <%if(status){%>
      <p style="color:#447744;">Success</p>
      <%}else{%>
      <p style="color:#aa3333;">Failed</p>
      <%}%>
    <%}%>
  </h2>
  <h4><%= message%></h4>
  <% if(typeof(data) !== "undefined"){%>
    <span><%= data %></span>
  <%}%>
</div>
<%- include('../partials/lower.ejs') %>
