<div> Yeee </div>

<% data.forEach(function(d) { %>
    <%=     d.assets.cash        %>
    <%=     d.assets.cfafv       %>
    <%=     d.assets.fvtoci_c    %>
    <%=     d.assets.ac_c        %>
    <%=     d.assets.fafh        %>
    <%=     d.assets.nar         %>
    <%=     d.assets.ar_rp       %>
    <%=     d.assets.othr        %>
    <%=     d.assets.inv         %>
    <%=     d.ca.fvtoci_n        %>
    <%=     d.ca.ac_v            %>
    <%=     d.ca.iequ            %>
    <%=     d.ca.ppe             %>
    <%=     d.ca.int             %>
    <%=     d.ca.dta             %>
    <%=     d.ca.ofia            %>
    <%=     d.nca                %>
    <%=     d.ta                 %>
    <%=     d.liab.stb           %>
    <%=     d.liab.ap            %>
    <%=     d.liab.ap_rp         %>
    <%=     d.tca.dp             %>
    <%=     d.tca.ditl          %>
    <%=     d.tca.ll_n           %>
    <%=     d.tca.onl        %>
    <%= d.tnl               %>
    <%= d.tl                 %>
    <%= d.tpcse.ts           %>
    <%= d.tpcse.apic        %>
    <%= d.tpcse.re          %>
    <%= d.te %>
}



<% }); %>